
<div class="account-container">
    <h1>Your Accounts</h1>
  
    <!-- Error Notification -->
    <div *ngIf="errorMessage" class="error-notification">
      <p>{{ errorMessage }}</p>
    </div>
  
    <!-- Display Accounts -->
    <div *ngIf="accounts.length > 0; else noAccounts" class="accounts-list">
      <div *ngFor="let account of accounts" class="account-details">
        <p><strong>Account Name:</strong> {{account?.accountHolderName}}</p>
        <p><strong>Account Type:</strong> {{ account?.accountType }}</p>
        <p><strong>Balance:</strong> ₹{{ account?.balance | number: '1.2-2' }}</p>
        <p><strong>Status:</strong> {{ account?.status }}</p>
  
        <!-- Show message if not approved -->
        <p *ngIf="account?.status !== 'Approved'" class="approval-message">Wait for Manager Approval</p>
  
        <!-- Transaction Buttons if approved -->
        <div *ngIf="account.status === 'Approved'" class="transaction-buttons">
          <button class="action-button" (click)="onDeposit(account.AccountId)">Deposit</button>
          <button class="action-button" (click)="onWithdraw(account.AccountId)">Withdraw</button>
        </div>
      </div>
    </div>
  
    <!-- No Accounts Found Template -->
    <ng-template #noAccounts>
      <p class="no-accounts-message">No accounts found. Please create a new account.</p>
    </ng-template>
  </div>
  

