<!-- <nav class="navbar" *ngIf="!isLoggedIn">
  <div class="logo">BTMS</div>
  <div class="links">
    <a routerLink="/register" routerLinkActive="active">Register</a>
    <a routerLink="/login" routerLinkActive="active">Login</a>
  </div>
</nav> -->
<nav class="navbar" > <!-- Show only when the user is NOT logged in -->
  <div class="logo">BTMS</div>
  <div class="links">
    <a routerLink="/" routerLinkActive="active">Home</a>
    <a routerLink="/register" routerLinkActive="active">Register</a>
    <a routerLink="/login" routerLinkActive="active">Login</a>
  </div>
</nav>
