<!-- <div class="transaction-container">
    <h2>{{ action | titlecase }} Money</h2>
    <form (ngSubmit)="submitTransaction()">
      <div class="form-group">
        <label for="amount">Amount *</label>
        <input
          id="amount"
          type="number"
          class="form-control"
          [(ngModel)]="amount"
          name="amount"
          placeholder="Enter the amount"
        />
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
      <button type="button" class="btn btn-secondary" (click)="cancelTransaction()">Cancel</button>
    </form>
  
    Success Message -->
    <!-- <div *ngIf="successMessage" class="success-message">
      {{ successMessage }}
    </div> -->
  
    <!-- Error Message -->
    <!-- <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </div> -->
  
