<nav class="navbar">
  <div class="logo">BTMS</div>
  <ul class="nav-links">
    <div class="role">Manager</div>
    <li><a routerLink="/manager/home">Home</a></li>
    <li><a routerLink="/manager/accounts">Accounts</a></li>
    <li><a routerLink="/manager/transactions">Transactions</a></li>
    <li><a routerLink="/manager/feedbacks">Feedbacks</a></li>
    <li><button (click)="logout()">Logout</button></li>
  </ul>
</nav>
<router-outlet></router-outlet> <!-- Displays manager-specific child components -->
