<nav class="navbar">
  <div class="logo">BTMS</div>
  <ul class="nav-links">
    <li class="role">Customer</li>
    <li><a routerLink="/customer/home">Home</a></li>
    <li><a routerLink="/customer/account">Account</a></li>
    <li><a routerLink="/customer/mytransactions">My Transactions</a></li>

    <!-- Feedback Dropdown -->
    <li class="dropdown">
      <a href="#">Feedback</a>
      <ul class="dropdown-content">
        <li><button (click)="navigateToPostFeedback()">Post Feedback</button></li>
        <li><button (click)="navigateToMyFeedbacks()">My Feedbacks</button></li>
      </ul>
    </li>

    <li><button (click)="logout()">Logout</button></li>
  </ul>
</nav>