<ng-container *ngIf="shouldShowNavbar()">
  <ng-container *ngIf="authService.isManager(); else userNav">
    <app-managernav></app-managernav>
  </ng-container>

  <ng-template #userNav>
    <ng-container *ngIf="authService.isCustomer(); else defaultNav">
      <app-usernav></app-usernav>
    </ng-container>
  </ng-template>

  <ng-template #defaultNav>
    <app-navbar></app-navbar>
  </ng-template>
</ng-container>

<div class="content-wrapper">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <p>&copy; 2025 Banking Transaction Management System | Built with Angular & .NET Web API</p>
  <p>Ensuring Secure, Efficient, and User-Friendly Banking Transactions</p>
</footer>