<!-- <app-navbar *ngIf="!isLoggedIn"></app-navbar> 
<router-outlet></router-outlet>
 -->
 <!-- <img  [src]='https://8080-bebececaaeeaadefcbfefdfaeebfcdfbcdeff.premiumproject.examly.io/uploads/user_17002' alt="Proof of Identity" width="100px"> -->
<ng-container *ngIf="shouldShowNavbar()">
    <ng-container *ngIf="authService.isManager(); else userNav">
      <!-- ✅ Only show `AdminnavComponent` on the main admin page -->
      <app-managernav *ngIf="!router.url.startsWith('/admin/home')"></app-managernav>
    </ng-container>
   
    <ng-template #userNav>
      <ng-container *ngIf="authService.isCustomer(); else defaultNav">
        <app-usernav></app-usernav>
      </ng-container>
    </ng-template>
   
    <ng-template #defaultNav>
      <app-navbar></app-navbar>
    </ng-template>
  </ng-container>
   
  <!-- <img src="http://0.0.0.0:8080/uploads/user_17002/proof.jpg" alt="Proof of Identity" width="100px"> -->

  <router-outlet></router-outlet>